<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="bg-dark text-white p-3 text-center">User Registration Form</h3>
      <div class="card">
        <div class="card-body">
        <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
          <!-- username -->
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" formControlName="username"
            class="form-control">
            <span *ngIf="getusername.touched && getusername.hasError('required')">
              <p class="text-danger">UserName is Mandatory</p>
            </span>
            <ng-container *ngIf="getusername.dirty">
              <p class="text-danger" *ngIf="getusername.hasError('pattern')">
                No Special Characters Allowed!
              </p>
              <p class="text-danger" *ngIf="getusername.hasError('minlength')">
                User Name is {{getusername.errors?.['minlength'].actualLength}}
                and required length is {{getusername.errors?.['minlength'].requiredLength}}
              </p>
              <p class="text-danger" *ngIf="getusername.hasError('maxlength')">
                User Name is {{getusername.errors?.['maxlength'].actualLength}}
                and required length is {{getusername.errors?.['maxlength'].requiredLength}}
              </p>
              <p class="text-danger" *ngIf="getusername.hasError('noSpaceErr')">
                {{getusername.errors?.['noSpaceErr']}}
              </p>
            </ng-container>
            
          </div>
          <!-- email -->
          <div class="form-group">
            <label for="email">User Email</label>
            <input type="text" formControlName="email"
            class="form-control">
            <span *ngIf="f['email'].touched && f['email'].hasError('required')">
            <p class="text-danger">User Email is Mandatory</p>
            </span>
            <ng-container *ngIf="f['email'].dirty">
              <p class="text-danger" *ngIf="f['email'].hasError('pattern')">
              Email is Invalid
              </p> 
                 
                  <div class="spinner-border text-primary" role="status" *ngIf="f['email'].pending"></div>
                    <p class="text-danger" *ngIf="f['email'].hasError('emailExistMsg');else msg">
                      {{f['email'].errors?.['emailExistMsg']}}
                    </p>
                  <ng-template #msg>
                    <p class="alert alert-success" *ngIf="f['email'].pending">Email Available</p>
                  </ng-template>
                                  
            </ng-container>
          </div>
          <!-- empId -->
          <div class="form-group">
            <label for="empId">Employee Id</label>
            <input type="text" formControlName="empId" class="form-control">
            <p class="text-danger" *ngIf="f['empId'].touched && f['empId'].hasError('required')">
            Emp Id is Mandatory</p>
            <ng-container *ngIf="f['empId'].dirty">
              <p class="text-danger" *ngIf="f['empId'].hasError('invalidempid')">
                {{f['empId'].errors?.['invalidempid']}}
              </p>
            </ng-container>
          </div>
          <!-- gender -->
          <div class="form-group">
            <label [for]="gender" *ngFor="let gender of genders">
              <input type="radio" name="gender" [id]="gender" [value]="gender"
              formControlName="gender" class="mx-2">
            {{gender}}
            </label>
          </div>
          <!-- skills -->
          <h4>Skills</h4>
          <div formArrayName="skills">
          <div class="row" *ngFor="let skill of skillsArr.controls;let i = index ">
            <div class="col-md-10 my-2">
              <input type="text" class="form-control" [formControlName]="i">
            </div>
            <div class="col-md-2" *ngIf="i>0">
              <button class="btn btn-outline-danger"
              (click)="onRemoveSkill(i)">Delete</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-info" (click)="addSkill()"
              *ngIf="skillsArr.length<=5; else noskill">Add Skill</button>
            </div>
            <ng-template #noskill>
              <p class="alert alert-info">You can add only upto 5 skills</p>
            </ng-template>
          </div>
        </div>
          <!-- address -->
          <div class="row">
            <div class="col-md-6">
              <h4>Current Address</h4>
              <div formGroupName="currentAddress">
                <div class="form-group">
                  <select formControlName="country" class="form-control">
                    <option value="">Select Country</option>
                    <option [value]="country.Country" *ngFor="let country of countriesArr">
                    {{country.Country}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" formControlName="state" class="form-control">
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" formControlName="city" class="form-control">
                </div>
                <div class="form-group">
                  <label for="zipcode">Zipcode</label>
                  <input type="text" formControlName="zipcode" class="form-control">
                </div>
              </div>
            </div>
              <div class="col-md-6">
                <h4>Permanent Address</h4>
                <div formGroupName="permanentAddress">
                  <div class="form-group">
                    <select formControlName="country" class="form-control">
                      <option value="">Select Country</option>
                      <option [value]="country.Country" *ngFor="let country of countriesArr">
                      {{country.Country}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" formControlName="state" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" formControlName="city" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input type="text" formControlName="zipcode" class="form-control">
                  </div>
                </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <label for="isAddSame">
              <input type="checkbox" formControlName="isAddSame">Same As Above
              </label>
            </div>
          </div>
          <!-- password -->
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="text" formControlName="password" class="form-control">
                <span class="text-danger" *ngIf="f['password'].touched && f['password'].hasError('required')">
                <p>Password is Mandatory Field.</p>
                </span>
                <ng-container *ngIf="f['password'].dirty">
                    <p class="text-danger" *ngIf="f['password'].hasError('pattern')">
                    Invalid Password
                    </p>
                </ng-container>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="text" formControlName="confirmPassword" class="form-control">
              <span *ngIf="f['confirmPassword'].dirty && f['confirmPassword'].hasError('passwordandconfirm')"
              class="text-danger">
              {{f['confirmPassword'].errors?.['passwordandconfirm']}}
              </span>
              </div>
            </div>
          </div>
          <div class="text-right">
            <button class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>